.docx
.\Task2\Video_A_explain.txt
.\Task2\audience_retention_analysis.txt
.\Task2\audience_rentention_pred.csv
myenv/
myenv\*
python-3.13.2-amd64.exe
OneDrive_2025-03-04.zip
.\Task2\llm_approach.ipynb
